*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(237, 237, 240)
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

